<% layout("/layouts/boilerplate") %>
<body>

    <h2>all listingis</h2>
    <!-- <form method="get" action= "/listings/new">
        <button>Creating new listing</button>
    </form> -->

    <!-- <% for (listing of allListings){ %>
    <div class="card" style="width: 18rem;">
        <img src="<%= listing.image  %>" class="card-image-top" alt="listing_image">
        <div class="card-body">
            <p class="card-text">there are</p>
        </div>
    </div>
    <% } %> -->

    
    
    
     <ul>
        <% for(let listing of allListings )  {%>
            <li><a href="/listings/<%= listing._id  %>"> <%= listing.title %></a></li>
            
        <% } %>
    </ul> 
    
</body>
